hr {
    box-sizing: content-box;
    height: 1px;
    overflow: visible; 
    background-image: None;
    color: rgba(0, 0, 0, 0.13);
    background-color: rgba(0, 0, 0, 0.13);
    border-bottom-color: rgba(0, 0, 0, 0.13);
    border-left-color: rgba(0, 0, 0, 0.13);
    border-right-color: rgba(0, 0, 0, 0.13);
    border-top-color: rgba(0, 0, 0, 0.13);
}